.header{

    background-color: rgb(243, 243, 243);
    border:1px solid rgb(0, 0, 0);
    padding : 5px;
}



.div2 {
    margin: 0 auto;
    border: 0.5vh solid rgb(255, 200, 80);
  }

.div1 {
    margin: 0 auto;
    border: 0.5vh solid coral;
  }

  .button{
    font-size: 15px;
    color: black;
    border-radius: 25px;
    border: 0.1vh solid black;
    background-color: rgb(216, 216, 216);
    padding: 10px 20px;    
  }

  .divb{
    padding-left: 40%;
    padding-bottom : 10px;
  }

  