.header{

    background-color: rgb(243, 243, 243);
    border:1px solid rgb(0, 0, 0);
    padding : 5px;
}



.div2 {
    margin: 0 auto;
    border: 0.5vh solid rgb(255, 200, 80);
  }

.div1 {
    margin: 0 auto;
    border: 0.5vh solid coral;
  }

  .div4 {
    margin: 0 auto;
    border: 0.5vh solid green;
  }

  .div5 {
    margin: 0 auto;
    border: 0.5vh solid rgb(0, 128, 122);
  }


  .button{
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border: 0.1vh solid black;
    background-color: coral;
    padding: 15px 25px;    
  }

  .button1{
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border: 0.1vh solid black;
    background-color: green;
    padding: 20px 25px;    
  }

  .button2{
    font-size: 15px;
    color: white;
    border-radius: 25px;
    border: 0.1vh solid black;
    background-color: blue;
    padding: 20px 25px;    
  }

  .divb{
    padding-left: 40%;
    padding-bottom : 10px;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer{
    background-color: burlywood;
    border: 1px solid black ;
  }